<!doctype html>
<html lang="en">
  <head>
  	<title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	</head>
	<body class="img" style="background-image: url(/static/bg.jpg);">
		<header>
			<nav class="navbar" style="padding-right: 0;">
                <a href = "/">
				<div class="logo">
					<img src="/static/logo.jpeg" alt="Your Logo">
				</div>
                </a>
			</nav>
		</header>		
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Succesfully Registered!!</h3>
		      </div>
				</div>
			</div>
		</div>
	</section>
	</body>
</html>

